<div class="toast toast-end fadeOut">
  <% if notice %>
    <div class="alert alert-success">
      <p class="notice"><%= notice %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-info">
      <p class="notice"><%= alert %></p>
    </div>
  <% end%>
</div>