<div class="navbar bg-base-300">
  <div class="flex-1">
    <%= link_to "Sandbox", root_path, class: "btn btn-ghost text-xl"%>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><%= link_to "About", about_path %></li>
    </ul>
  </div>
</div>